<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
	<h1>Welcome Home!</h1>

	<a href="/adminHome">Back</a>
	
	<table border="1">
		<tr>
			<th>Employer Name</th>
			<th>Company Name</th>
			<th>Contact No</th>
			<th>User Name</th>
			<th>Password</th>
		</tr>
		<% for(var i = 0; i < userList.length; i++){ %>

		<tr>
			<td><%= userList[i].employerName %></td>
			<td><%= userList[i].companyName %></td>
			<td><%= userList[i].contactNo %></td>
			<td><%= userList[i].userName %></td>
			<td><%= userList[i].password %></td>
			<td><a href="/adminHome/update/<%= userList[i].userName %>">Update</a> | <a href="/adminHome/delete/<%= userList[i].userName %>"> Delete</a> </td>
		</tr>
		
		<% } %>

	</table>
</body>
</html>